<mat-card>
    <form class="createForm"novalidate (ngSubmit)="onSubmit(CharacterCreateForm.value)">
        <mat-form-field>
          <input matInput placeholder="Character Name" class="form-control">
        </mat-form-field>
        <ng-container *ngFor="let validation of validation_messages.name">
            <mat-error *ngIf="CharacterCreateForm.get('name').hasError(validation.type) && (CharacterCreateForm.get('name').dirty || CharacterCreateForm.get('name').touched)">{{validation.message}}</mat-error>
        </ng-container>
  <br>
    <mat-form-field class="input-style">
      <mat-select placeholder="Select Class" [(ngModel)]="selectedValue" name="class">
        <mat-option *ngFor="let class of classes" [value]="class">
          {{class}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <br>

  <mat-form-field class="input-style">
    <mat-select placeholder="Select Level" [(ngModel)]="level" name="level">
        <mat-option *ngFor="let level of levels" [value]="level">
          {{level}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <br>

    <!-- <mat-form-field>
      <p>Choose Background</p>
      <mat-select placeholder="Choose Background" [(ngModel)]="selectedBackground" name="background">
        <mat-option *ngFor="let background of backgrounds" [value]="background">
          {{background}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br> -->
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>



