@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
mat-option {   background-color: black;  color: black;}
:host {
    display: block;
    border: 2px solid red;
    background-color: white;
    color: black;
  }