<!--The content below is only a placeholder and can be replaced.-->
<h4>Basic mat-select</h4>
<mat-toolbar  id = "toolbar"> 
  <mat-toolbar-row>
    <span class="title-center">
      D&D
    </span>
  </mat-toolbar-row>
  
    <mat-toolbar-row>

<!-- Navbar Links-->
<button mat-button [routerLink]="['/create']" color="Warn">Create Character</button>
<button mat-button [routerLink]="['/list']">Show Characters</button>
<button mat-button [routerLink]="['/roll']">Roll Stats</button>
<button mat-button [routerLink]="['/search']">Search</button>
</mat-toolbar-row>
</mat-toolbar>

<mat-form-field>
  <mat-select placeholder="Favorite color" [(ngModel)]="selectedValue" name="color">
      <mat-option *ngFor="let color of colors" [value]="color">
        {{color}}
      </mat-option>
  </mat-select>
</mat-form-field>
<p> Selected color: {{selectedValue}} </p>
<router-outlet></router-outlet>
