<!-- Html Code On Every Page -->
<button mat-button [routerLink]="['/home']" ><img src="assets/logo.png"></button>

<mat-toolbar  id = "toolbar"> 
  <mat-toolbar-row>
      
    <span class="title-center">
      
    </span>
  </mat-toolbar-row>
  
    <mat-toolbar-row>

<!-- Navbar Links-->
<button mat-button [routerLink]="['/create']" color="Warn">Create Character</button>
<button mat-button [routerLink]="['/displayC']">Show Characters</button>
<button mat-button [routerLink]="['/roll']">Roll Stats</button>
<button mat-button [routerLink]="['/spells']">Spells</button>
</mat-toolbar-row>
</mat-toolbar>


<!--mat-form-field>
  <mat-select placeholder="Select Class" [(ngModel)]="selectedValue" name="class">
      <mat-option *ngFor="let class of classes" [value]="class">
        {{class}}
      </mat-option>
  </mat-select>
</mat-form-field>
<p> Selected class: {{selectedValue}} </p>-->

<!-- <div class="container">
  <p>Show all users</p>
  <ul>
  <li *ngFor="let user of users | async">
       {{ user.name | json }}
    </li>
  </ul>
</div> -->
<router-outlet></router-outlet>

