@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
mat-option {   background-color: black;  color: black;}

:host{
    color: red;
}

:host h4{
    border-block-end-style: groove;
    border-bottom-color: darkred;
}

:host h5{
    padding: 1%;
}