<div class="list-group spells-list">
  <div *ngFor="let spell of spells" class="list-group-spells list-group-spells-action flex-column align-spells-start">
    <div class="row">
        <h5 class="mb-1">{{spell.payload.doc.data().name}}</h5>
    </div>
<!-- 
      <h5 class="mb-1">{{spell.payload.doc.data().c2}}</h5>

        <h5 class="mb-1">{{spell.payload.doc.data().c3}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c4}}</h5>

        <h5 class="mb-1">{{spell.payload.doc.data().c5}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c6}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c7}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c8}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c9}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c10}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c11}}</h5>
        <h5 class="mb-1">{{spell.payload.doc.data().c12}}</h5> -->
      </div>
      <!-- <div class="col col-md-2 actions-col">
        <button class="btn btn-outline-primary action" (click)="viewDetails(character)" type="button">
        </button> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
